# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Playwright
/test-results/
/playwright-report/
/blob-report/
/artifacts/
/playwright/.cache/
/playwright/.auth/

# Reports & artifacts
*.zip
*.webm
*.png
*.mp4
*.json

# Environment
.env
.env.*

# TypeScript
dist/
build/
*.tsbuildinfo

# OS/system files
.DS_Store
Thumbs.db